<html>
<head>
	<title>SF Permitted</title>
	{% block styles %}
	
	{% endblock %}
	{% block scripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
	{% endblock %}
</head>
<body>
	<h1>SF Permitted</h1>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	{% block content %}
	{% endblock %}
</body>